<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center" style="margin-top: 10px;">
        <p>2+ years working in game development industry, specializing as game programmer. Proficient at using Unity and C#. Competent at using Construct 3 and visual scripting. Mostly developing game in Android Platform including mobile and also TV devices. Proficient at optimizing game for low end devices. Lately focusing on multiplayer games.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center" style="margin-top: 30px;">
        <a href="https://www.credly.com/badges/ca39d83a-e6c2-42a5-8b46-c3ba50397593/public_url">
          <img src="unityassociate.png" alt="Unity Certified Associate Programmer" style="max-width: 100%; height: auto;">
        </a>
      </div>
    </div>
  </div>
</section>
