<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or
          a graphic artist looking to share your projects, this template is the perfect starting point! </p>
      </div>
      <div class="col-lg-4">
        <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or
          a graphic artist looking to share your projects, this template is the perfect starting point! </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center" style="margin-top: 50px;">
        <a href="https://www.credly.com/badges/ca39d83a-e6c2-42a5-8b46-c3ba50397593/public_url">
          <img src="unityassociate.png" alt="Unity Certified Associate Programmer" style="max-width: 100%; height: auto;">
        </a>
      </div>
    </div>
  </div>
</section>
